*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.App {
  height: 100vh;
}

.recipes {
  width: 80%;
  margin: 0 auto;

  /*background-color: blue;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  margin-bottom: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aqua;
  height: 50%;
  display: flex;
  align-items: center;
}

.hero-content {
  /*background-color: yellow;*/
  width: 50%;
  color: white;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2 em;
}

form input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

form button,
.btn {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  background-color: rgb(61, 61, 216);
  cursor: pointer;
  text-decoration: none;
}
